# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
local.properties

# Kotlin
.kotlin/

# IntelliJ / Android Studio
.idea/
*.iml
.DS_Store
captures/
.externalNativeBuild/
.cxx/

# Keystore (mai committarli)
*.keystore
*.jks
keystore.properties
